<%- include header %>
<div class="container col-sm-12" id="mainform">
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Create a new Project</div>
            </div>
            <div class="panel-body" >
                <form class="form-horizontal" role="form" method="post" action="/home/new_project" onSubmit="return checkblank(this);">

                    <div class="form-group">
                        <label for="first_name" class="col-md-3 control-label">Event Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="project_name" placeholder="Event Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="first_name" class="col-md-3 control-label">Description</label>
                        <div class="col-md-9">
                            <input id="project-description" type="text" class="form-control" name="project_description" placeholder="Event description">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="first_name" class="col-md-3 control-label">Event Start</label>
                        <div class="col-md-9">
                            <input id="project-start" type="date" class="form-control" name="project_start" value="" placeholder="Event Start">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="first_name" class="col-md-3 control-label">Event End</label>
                        <div class="col-md-9">
                            <input id="project-end" type="date" class="form-control" name="project_end" placeholder="Event End">
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Next</button>

                        </div>
                    </div>

                </form>
            </div>
        </div>


    </div>
</div>

<%- include footer %>
