<%- include header %>
<div class="container col-sm-12" id="mainform">
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Create a new Project</div>
            </div>
            <div class="panel-body" >
                <form class="form-horizontal" role="form" method="post" action="/home/team_lead" onSubmit="return checkblank(this);">

                    <div class="form-group">
                        <label for="first_name" class="col-md-3 control-label">Team Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="lead_name" placeholder="Lead name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="first_name" class="col-md-3 control-label">Description</label>
                        <div class="col-md-9">
                            <input id="project-description" type="text" class="form-control" name="tl_description" placeholder="Team Lead description">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="first_name" class="col-md-3 control-label">Event</label>
                        <select class="form-control" id="event_val">
                        <% for(var i=0; i < event_val.length; i++) { %>
                        <option><%= event_val[i] %></option>
                        <% } %>
                    </select>
                    </div>

                    <div class="form-group">
                        <label for="first_name" class="col-md-3 control-label">Team Lead</label>
                        <select class="form-control" id="team_lead_sel">
                            <% for(var i=0; i < team_leader.length; i++) { %>
                            <option><%= team_leader[i] %></option>
                            <% } %>
                        </select>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Next</button>

                        </div>
                    </div>

                </form>
            </div>
        </div>


    </div>
</div>

<%- include footer %>
